<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    
    {% verbatim %}
    <div>
        <h2>List of songs</h2>
        <ul id="listsongs">
            <li v-for="item in results">{{item.title}}</li>
        </ul>
    </div>
    {% endverbatim %}

    <script type="text/javascript">
        var vm = new Vue({
          el: '#listsongs',
          data: {
            results: []
          },
          created() {
            axios.get("{% url "songs_list" %}")
            .then(response => {
                this.results = response.data;
            })
          }
        });
    </script>
</body>
</html>